header {
    background: #fff;
    width: 100%;
    height: 170px;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 6px solid #23d3c6;
    z-index: 100;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: #34495e;
    margin: 0;
}

#logo {
    margin: 20px 0 0 140px;
    float: left;
    width: 165px;
    height: 127px;
    background: url(img/logo.jpg) no-repeat center;
    display: block;
}

/*...NAVIGATION......................................................................................................*/

.page-top ul {
    margin: 30px 140px 0 0;
    float: right;
    display: inline-block;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

.nav-tags {
    display: inline-block;
    float: left;
}

nav li a {
    padding-left: 35px;
    text-decoration: none;
    font-weight: bold;
    color: #34495e;
}

nav li a:hover {
    color: #201fdc;
    text-decoration: none;
}



/*...TOP ICONS.......................................................................................................*/

.icon-div {
    display: block;
    height: 3.5em;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.i-img {
    list-style: none;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin: 0 20px 0 40px;
}

.i-text {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    float: right;
    clear: left;
}

/*...CAROUSEL........................................................................................................*/

#carousel {
    margin-top: 170px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.carousel-inner,
.carousel-item {
    margin: 0;
    height: 400px;
}

.text-block {
    position: absolute;
    right: -111px;
    top: -165px;
    bottom: 0;
    height: 732px;
    width: 732px;
    background-color: #23d3c6;
    color: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
}

.text-block h1 {
    text-align: right;
    margin: 165px 111px 0 0;
    padding: 45px 130px 0 0;
    letter-spacing: 0.09em;
    font-size: 35px;
    line-height: 1.4;
}

.text-block p {
    text-align: right;
    margin: 0 111px 0 0;
    padding: 20px 140px 0 0;
    letter-spacing: 0.1em;
    font-size: 17px;
    line-height: 2;
}

.text-block button {
    position: absolute;
    right: 111px;
    background-color: #34495e;
    color: #fff;
    margin: 30px 140px 0 0;
    padding: 0;
    border: none;
    border-radius: 50px 50px 50px 50px;
    transition: background-color 0.5s ease;
}
.text-block button:hover {
    background-color: #113151;
}

.text-block button p {
    margin: 0;
    padding: 0 25px 0 25px;
    font-size: 18px;
    line-height: 65px;
    letter-spacing: 0.08em;
}
.text-block button i {
    padding-left: 12px;
}

.slides {
    width: 1095px;
    height: 768px;
    margin-top: -185px;
    padding: 0;
    background-position: cover;
}

/*...CARDS...........................................................................................................*/

.card-deck {
    width: 1220px;
    height: 315px;
    margin: 50px 140px 0 140px;
    text-align: center;
}

.card {
    width: 380px;
    margin: 0 auto;
    overflow: hidden;
    border: none;
}

.card-deck h5 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08em;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.card-deck p {
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0.08em;
}

.card-body {
    width: 500px;
    height: 180px;

    padding: 0;

    align-items: center;
    position: absolute;
    left: -60px;
    bottom: 0;

    color: #fff;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#pink-body {
    background-color: #ed1b5b;
}

#blue-body {
    background-color: #00aeef;
}

#orange-body {
    background-color: #f78f1e;
}

/*..learn more buttons.....*/

.card-button {
    background-color: #fff;
    margin: 0;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.08em;
    border: none;
    border-radius: 50px 50px 50px 50px;
}

#pink {
    color: #ed1b5b;
}

#blue {
    color: #00aeef;
}

#orange {
    color: #f78f1e;
}

/*..images............................*/

.card-1 {
    background: url("img/immediate needs assessment.jpg") no-repeat center;
    width: 380px;
    height: 315px;
    margin: 0 auto;
    padding: 0;
}

.card-2 {
    background: url("img/case management.jpg") no-repeat center;
    width: 380px;
    height: 315px;
    margin: 0 auto;
    padding: 0;
}

.card-3 {
    background: url("img/vocational rehabilitation.jpg") no-repeat center;
    width: 380px;
    height: 315px;
    margin: 0 auto;
    padding: 0;
}

/*...BRIDGE CASE.....................................................................................................*/

.bridge-case {
    box-shadow: inset 0 5px 3px 0 #e6e6e6;
    height: 250px;
    margin-top: 50px;
}

.bridge-case h2 {
    margin: 0 0 0 150px;
    padding-top: 40px;
    color: #201fdc;
    letter-spacing: 0.04em;
}

.bridge-case p {
    margin: 0 150px 0 150px;
    padding-top: 30px;
    color: #34495e;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 1.5em;
}

/*...INFO FEED.......................................................................................................*/

.info-feed {
    box-shadow: inset 0 5px 3px 0 #e6e6e6;
}

.container {
    margin: 0 150px 50px 150px;
    padding: 50px 0 0 0;
}

.nav>li>a {
    padding: 13px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #34495e;
}

.nav,
.nav-tabs {
    height: 50px;
}


/*...FOOTER..........................................................................................................*/

footer{
    height: 320px;
    font-size: 1em;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #34495e;
}

.footer {
    margin: 0 139px 0 139px;
}

.social-media a i {
    font-size: 50px;
    letter-spacing: 20px;
    text-decoration: none;
    color: #fff;
}
    .social-media a i:hover {
        color: #113151;
    }

.contact-us a {
    text-decoration: none;
    color: #fff;
}
    .contact-us a:hover {
        color: #113151;
    }

.website-details a {
    text-decoration: none;
    color: #fff;
}
.website-details a:hover {
    color: #113151;
}

.find-us,
.contact-us,
.social-media,
.website-details {
    padding-right: 30px;
    margin-bottom: 50px;
}

.find-us span ,
.contact-us span ,
.social-media span,
.website-details span {
    color: #fff;
    padding-top: 50px;
    display: block;
    font-size: 1em;
    letter-spacing: .2em;
}

.find-us p,
.contact-us p,
.social-media p,
.website-details p {
    padding-top: 20px;
    text-decoration: none;
    letter-spacing: .15em;
    list-style: none;
    line-height: 2.3;
    font-size: 0.8em;
    color: #fff;
    width: 280px;
    margin: 0;
}
